{% include 'header-post.html' %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <img style="width: 500px;height: auto;" src="{{ post.article_img.url }}" alt="">
                    <h1 class="fw-light">{{ post.article_title }}</h1>
                    <p class="date">{{ post.article_date }}</p>
                </div>
            </div>
        </section>
        <div class="container">
            <p>
                {{ post.article.text }}
            </p>
        </div>
    </main>
{% include 'footer.html' %}